  
  #middlecontainer{
    height: inherit;
  }
  
  #edittoolbar{
    background-color: black;
    position: absolute;
    height: 60%;
    width: 30%;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
  
  }
  
  #editheader{
    background-color: lightgray;
    padding: 4px;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    color: gray;
  }