.centeredcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-height: 80%;
  background-color: lightgray; 
  border: 2px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.4); 
  padding: 16px; 
  justify-content: space-between;
}


.backgroundContainer {
  background: url('/contour-lines.svg');
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: white;
  background: maroon;
  height: 50px;
  flex: 1;
  margin: 5%;
}

.text {
  color : maroon;
}

.closeButton{
  position: 'absolute';
  margin: -10px -10px 0 0;
  color: white;
  background-color: maroon;
  border-radius: 10%;
}